.jw-footer-simple {
	@apply bg-theme-surface-secondary py-vertical-md;

	&__container {
		@apply flex flex-col gap-spacing-800;

		@screen lg {
			@apply gap-x-spacing-300 gap-y-0;
			display: grid;
			grid-template-columns: 384px 1fr 1fr;
			grid-template-areas:
				'a b b'
				'a c c'
				'd d d';
		}
	}

	&__logo-container {
		@apply flex flex-grow items-center;
	}

	&__logo-link {
		@apply inline-block;
	}

	&__logo {
		@apply h-auto w-44 lg:w-64;
	}

	&__sidebar-container {
		@apply flex w-full justify-between lg:flex lg:w-96 lg:flex-col;

		grid-area: a;
	}

	&__sidebar {
		@apply flex w-full flex-row flex-wrap;
	}

	&__content-container {
		@apply flex-grow-2 md:pt-13 flex basis-full flex-col gap-spacing-400 pt-spacing-800 lg:pr-spacing-600;
	}

	&__content {
		@apply flex flex-col gap-spacing-200;
	}

	&__cta-container {
		@apply flex flex-col gap-spacing-150 md:flex-row;

		.jw-cta {
			@apply w-full md:w-auto;
		}
	}

	&__socials {
	}

	&__socials--mobile {
		@apply lg:hidden;
	}

	&__socials--desktop {
		@apply hidden lg:block;
	}

	&__featured-links {
		@apply flex flex-col lg:mt-spacing-700;

		grid-area: c;
	}

	&__featured-link-container {
		@apply border-b border-theme-border-secondary;

		&:first-child {
			.jw-footer-simple__featured-link {
				@apply pt-0;
			}
		}
	}

	&__featured-link {
		@apply inline-block py-spacing-300 text-theme-text-primary transition-transform duration-500 ease-in-out lg:last:pb-spacing-300;

		span {
			@apply transition-colors duration-500 ease-in-out;
		}

		&:hover,
		&:focus {
			@apply translate-x-1;

			span {
				@apply text-theme-cta-primary-surface;
			}
		}
	}

	&__locations {
		@apply lg:gap-9.5 gap-x-300 gap-y-700 hidden flex-col md:flex-row lg:flex;

		grid-area: b;
	}

	&__location {
		@apply w-full;
	}

	&__legal-container {
		@apply flex flex-col flex-wrap items-start justify-start gap-spacing-150 border-b border-theme-border-secondary pb-6 lg:mt-spacing-800 lg:flex-row lg:justify-between;

		grid-area: d;
	}

	&__legal-links {
		@apply flex gap-spacing-400;
	}

	&__copyright {
		@apply text-theme-text-secondary;
	}
}
