$color-brand-black: hsl(0, 0%, 7%);
$color-brand-white: hsl(0, 0%, 100%);

$color-orange-50: hsl(26, 47%, 97%);
$color-orange-100: hsl(23, 53%, 94%);
$color-orange-200: hsl(23, 53%, 83%);
$color-orange-300: hsl(23, 52%, 71%);
$color-orange-400: hsl(23, 52%, 59%);
$color-orange-500: hsl(24, 57%, 48%);
$color-orange-600: hsl(24, 73%, 38%);
$color-orange-700: hsl(24, 73%, 29%);
$color-orange-800: hsl(23, 72%, 21%);
$color-orange-900: hsl(23, 72%, 13%);
$color-orange-950: hsl(23, 72%, 8%);

$color-shell-50: #fffefd;
$color-shell-100: hsl(48, 71%, 99%);
$color-shell-200: hsl(42, 71%, 97%);
$color-shell-300: hsl(45, 38%, 94%);
$color-shell-400: hsl(40, 18%, 87%);
$color-shell-500: hsl(42, 9%, 77%);
$color-shell-600: hsl(40, 5%, 68%);
$color-shell-700: hsl(38, 4%, 58%);
$color-shell-800: hsl(38, 4%, 58%);
$color-shell-900: hsl(48, 3%, 39%);
$color-shell-950: hsl(45, 3%, 29%);

$color-black-50: hsl(0, 0%, 95%);
$color-black-100: hsl(0, 0%, 90%);
$color-black-200: hsl(0, 0%, 80%);
$color-black-300: hsl(0, 0%, 73%);
$color-black-400: hsl(0, 0%, 60%);
$color-black-500: hsl(0, 0%, 45%);
$color-black-600: hsl(0, 0%, 36%);
$color-black-700: hsl(0, 0%, 27%);
$color-black-800: hsl(0, 0%, 18%);
$color-black-900: hsl(0, 0%, 9%);

$color-brand-black: hsl(0, 0%, 7%);
$color-brand-orange: hsl(24, 73%, 42%);
$color-brand-white: hsl(0, 0%, 100%);
$color-brand-shell: hsl(42, 76%, 97%);

$color-feedback-error: hsl(0, 84%, 37%);
$color-feedback-success: hsl(123, 46%, 34%);

@layer base {
	:root {
		// Surface
		--surface-primary: #{$color-brand-shell};
		--surface-secondary: #{$color-shell-50};
		--surface-tertiary: #{$color-shell-300};
		--surface-invert: #{$color-brand-black};
		--surface-accent: #{$color-brand-orange};
		--surface-accent-secondary: #{$color-brand-black}; // Question Aled on this
		--surface-disabled: #{$color-orange-300};
		--surface-error: #{$color-feedback-error};
		--surface-success: #{$color-feedback-success};

		// Border
		--border-primary: #{$color-orange-950};
		--border-secondary: #{$color-orange-200};
		--border-tertiary: #{$color-black-200};
		--border-invert: #{$color-brand-white};
		--border-invert-secondary: rgba(#{$color-brand-white}, 0.2);
		--border-accent: #{$color-brand-orange};
		--border-accent-secondary: #{$color-brand-orange};
		--border-disabled: #{$color-orange-300};
		--border-error: #{$color-feedback-error};
		--border-success: #{$color-feedback-success};

		// Text
		--text-primary: #{$color-brand-black};
		--text-secondary: #{$color-black-600};
		--text-primary-invert: #{$color-brand-white};
		--text-secondary-invert: #{$color-black-100};
		--text-accent: #{$color-orange-600};
		--text-accent-secondary: #{$color-brand-black};
		--text-link: #{$color-orange-800};
		--text-link-invert: #{$color-brand-white};
		--text-disabled: #{$color-black-300};
		--text-error: #{$color-feedback-error};
		--text-success: #{$color-feedback-success};

		// CTA - Primary
		--cta-primary-surface: var(--surface-accent);
		--cta-primary-surface-hover: #{$color-orange-700};
		--cta-primary-surface-disabled: var(--surface-disabled);
		--cta-primary-text: var(--text-primary-invert);
		--cta-primary-text-disabled: var(--text-primary-invert);

		// CTA - Secondary
		--cta-secondary-surface: var(--surface-primary);
		--cta-secondary-surface-hover: var(--surface-invert);
		--cta-secondary-surface-disabled: var(--surface-primary);
		--cta-secondary-border: var(--border-primary);
		--cta-secondary-boreder-hover: var(--border-primary);
		--cta-secondary-border-disabled: var(--border-disabled);
		--cta-secondary-text: var(--text-primary);
		--cta-secondary-text-hover: var(--text-primary-invert);
		--cta-secondary-text-disabled: var(--text-primary-disabled);

		// CTA - Primary Invert
		--cta-primary-invert-surface: var(--surface-accent);
		--cta-primary-invert-surface-hover: #{$color-orange-700};
		--cta-primary-invert-surface-disabled: var(--surface-disabled);
		--cta-primary-invert-text: var(--text-primary-invert);
		--cta-primary-invert-text-disabled: var(--text-primary-invert);

		// CTA - Secondary Invert
		--cta-secondary-invert-surface: var(--surface-primary);
		--cta-secondary-invert-surface-hover: var(--surface-primary);
		--cta-secondary-invert-surface-disabled: rgba(#{$color-brand-white}, 0.5);
		--cta-secondary-invert-border: var(--border-invert);
		--cta-secondary-invert-border-hover: var(--border-invert);
		--cta-secondary-invert-border-disabled: rgba(#{$color-brand-white}, 0.5);
		--cta-secondary-invert-text: var(--text-primary-invert);
		--cta-secondary-invert-text-hover: var(--text-primary);
		--cta-secondary-invert-text-disabled: var(--text-primary-invert);
	}
}
