.gform-theme {
	--gf-form-gap-x: 16px;
	--gf-form-gap-y: 40px;
	--gf-field-gap-x: 12px;
	--gf-field-gap-y: 12px;
	--gf-label-width: 30%;
	--gf-label-req-gap: 2px;
	--gf-form-footer-margin-y-start: 24px;
	--gf-form-footer-gap: 8px;
	--gf-field-date-width: 168px;
	--gf-field-time-width: 110px;
	--gf-field-list-btns-gap: 8px;
	--gf-field-list-btns-width: calc(32px + var(--gf-field-list-btns-gap) + var(--gf-field-gap-x));
	--gf-field-pg-steps-gap-y: 8px;
	--gf-field-pg-steps-gap-x: 24px;
}

.gform_heading {
	@apply hidden;
}
.gform_wrapper form {
	@apply gap-y-500 flex flex-col;
}
.gform_body {
	textarea,
	select,
	input[type='text'],
	input[type='month'],
	input[type='password'],
	input[type='date'],
	input[type='datetime-local'],
	input[type='number'],
	input[type='file'],
	input[type='date'],
	input[type='url'],
	input[type='tel'],
	input[type='email'] {
		@apply form-input;
	}
}
.gform_ajax_spinner {
}
.gform_confirmation_message {
	@apply jw-wysiwyg;
}
.ginput_container_fileupload {
	@apply relative;

	input[type='file'] {
		@apply pl-spacing-600;
		&::file-selector-button {
			@apply border-0 bg-transparent p-0 text-theme-text-secondary;
			+ span {
				@apply hidden;
			}
		}
	}
	&::before {
		@apply absolute left-spacing-200 top-0 block min-h-input w-spacing-250 bg-contain bg-center bg-no-repeat;
		content: '';
		background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M9.16536 15.8334H10.832V12.3542L12.1654 13.6876L13.332 12.5001L9.9987 9.16675L6.66536 12.5001L7.85286 13.6667L9.16536 12.3542V15.8334ZM4.9987 18.3334C4.54036 18.3334 4.148 18.1702 3.82161 17.8438C3.49523 17.5174 3.33203 17.1251 3.33203 16.6667V3.33341C3.33203 2.87508 3.49523 2.48272 3.82161 2.15633C4.148 1.82994 4.54036 1.66675 4.9987 1.66675H11.6654L16.6654 6.66675V16.6667C16.6654 17.1251 16.5022 17.5174 16.1758 17.8438C15.8494 18.1702 15.457 18.3334 14.9987 18.3334H4.9987ZM10.832 7.50008V3.33341H4.9987V16.6667H14.9987V7.50008H10.832Z" fill="%23090909"/></svg>');
	}
}
.gform_button_select_files {
	//@apply cta-contained cta-contained--primary cta-contained--small cta-contained__label cta-contained__label--small;
	width: auto !important;
}
.hidden_label .gfield_label,
.hidden_sub_label,
.screen-reader-text {
	@apply sr-only;
}

.gform-grid-row {
	@apply flex flex-wrap gap-x-spacing-200;
}

.gform-theme {
	@apply gap-y-400 flex w-full flex-col;
}

.gform_title {
	@apply typography-h4;
}

.gform_button {
	@apply rounded-button relative flex size-full flex-row items-center justify-center gap-3 border border-theme-cta-primary-surface bg-theme-cta-primary-surface px-5.5 py-3 text-bodyMobile font-medium text-theme-cta-primary-text transition-all duration-200 hover:bg-theme-cta-primary-surface-hover sm:text-bodyTablet lg:text-bodyDesktop;
}
.gfield_description {
	@apply typography-caption mb-2 text-theme-text-secondary;
}
.gfield_consent_description {
	@apply mb-6;
}
.gform_submission_error {
	@apply typography-h6 text-feedback-error;
}
.gform_validation_errors {
	@apply typography-caption rounded-card gap-y-200 flex flex-col border border-feedback-error bg-feedback-error/10 p-spacing-400 text-feedback-error;
}
.gfield_validation_message {
	@apply text-feedback-error;
}
.gform_fileupload_rules,
.field_validation_below .gfield_validation_message {
	@apply mb-0 mt-2;
}
.field_validation_above .gfield_validation_message {
	@apply mb-2;
}
.gform_fields {
	@apply grid w-full grid-cols-12 gap-x-spacing-300 gap-y-spacing-300;
}
.gfield {
	grid-column: 1 / -1;
	@at-root {
		fieldset#{&} .gform-grid-col:focus-within,
		&:not(fieldset):focus-within {
			.gform-field-label {
				@apply text-theme-text-accent;
			}
		}
	}
	&.gfield_error {
		textarea,
		select,
		input[type]:not([type='search']):not([type='url']):not([type='hidden']):not([type='radio']):not(
				[type='checkbox']
			) {
			@apply border-feedback-error;
		}
	}
	&--type-consent {
		@apply mt-spacing-200;
	}
}
.gfield--type-choice {
	.gfield_checkbox,
	.gfield_radio {
		@apply flex flex-wrap gap-x-spacing-400 gap-y-spacing-150;
	}
}
.ginput_container_consent > input,
.gfield-choice-input {
	@apply sr-only;
	+ .gform-field-label {
		@apply flex items-start gap-x-spacing-150;
		&:before {
			@apply mt-1 size-spacing-300 flex-shrink-0 border border-theme-border-secondary bg-theme-surface-primary duration-300;
			content: '';
		}
	}
	&:checked + .gform-field-label {
		&:before {
			@apply border-transparent bg-theme-surface-accent;
		}
	}

	&[type='checkbox'] {
		+ .gform-field-label {
			&:before {
				@apply rounded-sm bg-center bg-no-repeat;
				background-size: 0 0;
				background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M7.9583 12.625L15.0208 5.5625C15.1875 5.39583 15.3854 5.3125 15.6146 5.3125C15.8437 5.3125 16.0416 5.39583 16.2083 5.5625C16.375 5.72917 16.4583 5.92708 16.4583 6.15625C16.4583 6.38542 16.375 6.58333 16.2083 6.75L8.54164 14.4167C8.37497 14.5833 8.18052 14.6667 7.9583 14.6667C7.73608 14.6667 7.54164 14.5833 7.37497 14.4167L3.79164 10.8333C3.62497 10.6667 3.54511 10.4688 3.55205 10.2396C3.559 10.0104 3.6458 9.8125 3.81247 9.64583C3.97914 9.47917 4.17705 9.39583 4.40622 9.39583C4.63539 9.39583 4.8333 9.47917 4.99997 9.64583L7.9583 12.625Z" fill="white"/></svg>');
			}
		}
		&:checked + .gform-field-label {
			&:before {
				background-size: 100% 100%;
			}
		}
	}
	&[type='radio'] {
		+ .gform-field-label {
			&:before {
				@apply rounded-full ring-0 ring-inset;
			}
		}
		&:checked + .gform-field-label {
			&:before {
				@apply border-2 bg-theme-surface-accent ring ring-theme-surface-primary;
			}
		}
	}
}

// .gfield--type-consent.gfield_contains_required .gform-field-label:after {
// 	content: '(Required)';
// }

.gform-field-label {
	@apply typography-caption mb-2 font-medium;
	&--type-inline {
		@apply typography-body mb-0 text-theme-text-primary;
	}
}

@media (min-width: 640px) {
	.left_label .gfield .copy_values_option_container,
	.left_label .gfield .gfield_creditcard_warning_message,
	.left_label .gfield .gfield_password_strength,
	.left_label .gfield > .ginput_container,
	.right_label .gfield .copy_values_option_container,
	.right_label .gfield .gfield_creditcard_warning_message,
	.right_label .gfield .gfield_password_strength,
	.right_label .gfield > .ginput_container {
		float: right;
	}

	.rtl .left_label .gfield .copy_values_option_container,
	.rtl .left_label .gfield .gfield_creditcard_warning_message,
	.rtl .left_label .gfield .gfield_password_strength,
	.rtl .left_label .gfield > .ginput_container,
	.rtl .right_label .gfield .copy_values_option_container,
	.rtl .right_label .gfield .gfield_creditcard_warning_message,
	.rtl .right_label .gfield .gfield_password_strength,
	.rtl .right_label .gfield > .ginput_container {
		float: left;
	}

	.gform-theme
		.left_label
		.gfield:where(:not(.gfield--type-html):not(.gfield--type-section))
		> div:where(:not(.ui-resizable-handle):not(.gfield-admin-icons):not(.gform-grid-row)),
	.gform-theme
		.left_label
		.gfield
		> .ginput_container:where(:not(.ui-resizable-handle):not(.gfield-admin-icons):not(.gform-grid-row)),
	.gform-theme
		.right_label
		.gfield:where(:not(.gfield--type-html):not(.gfield--type-section))
		> div:where(:not(.ui-resizable-handle):not(.gfield-admin-icons):not(.gform-grid-row)),
	.gform-theme
		.right_label
		.gfield
		> .ginput_container:where(:not(.ui-resizable-handle):not(.gfield-admin-icons):not(.gform-grid-row)) {
		inline-size: calc(100% - var(--gf-label-width));
	}

	.gform-theme
		.left_label
		.gfield:where(:not(.gfield--type-html):not(.gfield--type-section))
		> div:where(.gform-grid-row),
	.left_label .gfield > .ginput_container:where(.gform-grid-row),
	.gform-theme
		.right_label
		.gfield:where(:not(.gfield--type-html):not(.gfield--type-section))
		> div:where(.gform-grid-row),
	.right_label .gfield > .ginput_container:where(.gform-grid-row) {
		inline-size: calc((100% - var(--gf-label-width)) + var(--gf-field-gap-x));
	}

	.left_label .gfield_html_formatted,
	.right_label .gfield_html_formatted {
		margin-inline-start: var(--gf-label-width);
	}
}

.field_sublabel_below .ginput_complex {
	@apply items-start;
}

.field_sublabel_above .ginput_complex {
	@apply items-end;
}

.ginput_complex label,
.ginput_complex legend {
	@apply block;
}

.ginput_complex input,
.ginput_complex select,
.gfield textarea {
	inline-size: 100%;
	@apply w-full;
}

.gfield textarea.small {
	height: 6rem;
}

.gfield textarea.medium {
	height: 12rem;
}

.gfield textarea.large {
	height: 18rem;
}

.gfield .ginput_password,
.gfield input,
.gfield select {
	@apply max-w-full;
}

.gfield .ginput_password.small,
.gfield input.small,
.gfield select.small {
	inline-size: calc(25% - var(--gf-form-gap-x) * 3 / 4);
}

.gfield .ginput_password.medium,
.gfield input.medium,
.gfield select.medium {
	inline-size: calc(50% - var(--gf-form-gap-x) / 2);
}

.gfield .ginput_password.large,
.gfield input.large,
.gfield select.large {
	inline-size: 100%;
}

.gform_footer,
.gform_page_footer {
	@apply flex flex-wrap;
}

#field_submit input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full,
.gform_footer input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full {
	inline-size: 100%;
}

.gform-theme
	#field_submit
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-full,
.gform-theme
	.gform_footer
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-full {
	inline-size: 100%;
}

.gform-theme
	#field_submit
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-eleven-twelfths,
.gform-theme
	.gform_footer
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-eleven-twelfths {
	inline-size: 91.6666%;
	@apply w-11/12;
}

.gform-theme
	#field_submit
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-five-sixths,
.gform-theme
	.gform_footer
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-five-sixths {
	inline-size: 83.3333%;
}

.gform-theme
	#field_submit
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-three-quarter,
.gform-theme
	.gform_footer
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-three-quarter {
	inline-size: 75%;
}

.gform-theme
	#field_submit
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-two-thirds,
.gform-theme
	.gform_footer
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-two-thirds {
	inline-size: 66.6666%;
}

.gform-theme
	#field_submit
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-seven-twelfths,
.gform-theme
	.gform_footer
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-seven-twelfths {
	inline-size: 58.3333%;
}

.gform-theme
	#field_submit
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-half,
.gform-theme
	.gform_footer
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-half {
	inline-size: 50%;
}

.gform-theme
	#field_submit
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-five-twelfths,
.gform-theme
	.gform_footer
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-five-twelfths {
	inline-size: 41.6666%;
}

.gform-theme
	#field_submit
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-third,
.gform-theme
	.gform_footer
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-third {
	inline-size: 33.3333%;
}

.gform-theme
	#field_submit
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-quarter,
.gform-theme
	.gform_footer
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-quarter {
	inline-size: 25%;
}

.gform-theme
	#field_submit
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-one-sixth,
.gform-theme
	.gform_footer
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-one-sixth {
	inline-size: 16.6666%;
}

.gform-theme
	#field_submit
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-one-twelfth,
.gform-theme
	.gform_footer
	input[type='submit'][id*='gform_submit_button_'].button.gform-button--width-full.gfield--width-one-twelfth {
	inline-size: 8.3333%;
}

@media (min-width: 640px) {
	.gfield--width-full {
		grid-column: span 12;
	}

	.gfield--width-eleven-twelfths {
		grid-column: span 11;
	}

	.gfield--width-five-sixths {
		grid-column: span 10;
	}

	.gfield--width-three-quarter {
		grid-column: span 9;
	}

	.gfield--width-two-thirds {
		grid-column: span 8;
	}

	.gfield--width-seven-twelfths {
		grid-column: span 7;
	}

	.gfield--width-half {
		grid-column: span 6;
	}

	.gfield--width-five-twelfths {
		grid-column: span 5;
	}

	.gfield--width-third {
		grid-column: span 4;
	}

	.gfield--width-quarter {
		grid-column: span 3;
	}

	.gfield--width-one-sixth {
		grid-column: span 2;
	}

	.gfield--width-one-twelfth {
		grid-column: span 1;
	}

	.gform_footer.left_label,
	.gform_footer.right_label {
		padding-inline-start: var(--gf-label-width);
	}
}

.gform-grid-row {
	@apply flex flex-wrap gap-x-spacing-300 gap-y-spacing-300;
}

.gform-grid-col {
	flex: none;
	inline-size: 100%;
}

@media (min-width: 640px) {
	.gform-grid-col.gform-grid-col--size-auto {
		flex: 1;
		inline-size: auto;
	}
}

.gform-theme
	.gform-field-label:where(
		:not([class*='gform-field-label--type-']):not(.gfield_header_item):not(.ginput_quantity_label)
	) {
	@apply flex flex-wrap gap-2 align-baseline;
}

.gform-field-label:where([class*='gform-field-label--type-']) {
	@apply inline-block;
}
@media (min-width: 640px) {
	.gform-theme
		.left_label
		.gform-field-label:where(
			:not([class*='gform-field-label--type-']):not(.gfield_header_item):not(.ginput_quantity_label)
		),
	.gform-theme
		.right_label
		.gform-field-label:where(
			:not([class*='gform-field-label--type-']):not(.gfield_header_item):not(.ginput_quantity_label)
		) {
		flex-direction: column;
		float: left;
		gap: calc(var(--gf-label-req-gap) / 3);
		inline-size: var(--gf-label-width);
	}

	.rtl
		.gform-theme
		.left_label
		.gform-field-label:where(
			:not([class*='gform-field-label--type-']):not(.gfield_header_item):not(.ginput_quantity_label)
		),
	.rtl
		.gform-theme
		.right_label
		.gform-field-label:where(
			:not([class*='gform-field-label--type-']):not(.gfield_header_item):not(.ginput_quantity_label)
		) {
		float: right;
	}
}

@media (min-width: 640px) {
	.gform-theme
		.right_label
		.gform-field-label:where(
			:not([class*='gform-field-label--type-']):not(.gfield_header_item):not(.ginput_quantity_label)
		) {
		align-items: end;
		justify-content: normal;
		text-align: end;
	}
	.left_label .gfield_description,
	.right_label .gfield_description {
		clear: right;
		margin-left: auto;
	}

	.rtl .left_label .gfield_description,
	.rtl .right_label .gfield_description {
		clear: left;
		margin-left: 0;
		margin-right: auto;
	}
}

.gform_drop_area {
	@apply rounded-form-input flex flex-col items-center gap-y-spacing-150 bg-theme-surface-primary px-spacing-200 py-spacing-500 text-center ring-1 ring-inset ring-theme-border-secondary;
}
.ginput_preview {
	@apply flex w-full;
	.gfield_fileupload_filename {
		@apply grow;
	}
	.gform_delete_file {
		@apply shrink-0;
	}
}
.gform_drop_instructions,
.gform_fileupload_rules {
	@apply block;
}

.gform-theme.ui-datepicker {
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 9999 !important;
}

.gform-theme.ui-datepicker .ui-icon {
	background-repeat: no-repeat;
	display: block;
	inset-block-start: 0.3em;
	inset-inline-start: 0.5em;
	margin-block-start: -0.25em;
	overflow: hidden;
	position: relative;
	text-indent: -99999px;
	vertical-align: middle;
}

.gform-theme.ui-datepicker .ui-datepicker-header {
	padding-block: 0.2em;
	position: relative;
}

.gform-theme.ui-datepicker .ui-datepicker-next,
.gform-theme.ui-datepicker .ui-datepicker-prev {
	block-size: 1.8em;
	inline-size: 1.8em;
	inset-block-start: 2px;
	position: absolute;
}

.gform-theme.ui-datepicker .ui-datepicker-next::before,
.gform-theme.ui-datepicker .ui-datepicker-prev::before {
	//background-image: url(../../../images/theme/down-arrow.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	block-size: 1em;
	content: '';
	display: inline-block;
	inline-size: 1em;
	inset-block-start: 50%;
	inset-inline-start: 50%;
	position: absolute;
	transform: translate(-50%, -50%) rotate(90deg);
}

.gform-theme.ui-datepicker .ui-datepicker-next span,
.gform-theme.ui-datepicker .ui-datepicker-prev span {
	display: block;
	inset-block-start: 50%;
	inset-inline-start: 50%;
	margin-block-start: -8px;
	margin-inline-start: -8px;
	position: absolute;
}

.gform-theme.ui-datepicker .ui-datepicker-next-hover,
.gform-theme.ui-datepicker .ui-datepicker-prev-hover {
	inset-block-start: 1px;
}

.gform-theme.ui-datepicker .ui-datepicker-prev {
	inset-inline-start: 2px;
}

.gform-theme.ui-datepicker .ui-datepicker-next {
	inset-inline-end: 2px;
}

.gform-theme.ui-datepicker .ui-datepicker-next::before {
	transform: translate(-50%, -50%) rotate(-90deg);
}

.gform-theme.ui-datepicker .ui-datepicker-prev-hover {
	inset-inline-start: 1px;
}

.gform-theme.ui-datepicker .ui-datepicker-next-hover {
	inset-inline-end: 1px;
}

.gform-theme.ui-datepicker .ui-datepicker-title {
	line-height: 1.8em;
	margin-inline: 2.3em;
	text-align: center;
}

.gform-theme.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin-block: 1px;
}

.gform-theme.ui-datepicker select.ui-datepicker-month,
.gform-theme.ui-datepicker select.ui-datepicker-year {
	background-color: transparent;
	//background-image: url(../../../images/theme/down-arrow.svg);
	background-position: 100% 50%;
	background-repeat: no-repeat;
	background-size: 24px;
	padding-inline-end: 24px;
}

.gform-theme.ui-datepicker table {
	border-collapse: collapse;
	font-size: 0.9em;
	inline-size: 100%;
	margin-block-end: 0.4em;
	table-layout: fixed;
}

.gform-theme.ui-datepicker th {
	border: 0;
	font-weight: 700;
	padding-block: 0.7em;
	padding-inline: 0.3em;
	text-align: center;
}

.gform-theme.ui-datepicker td {
	border: 0;
	padding: 1px;
}

.gform-theme.ui-datepicker td a,
.gform-theme.ui-datepicker td span {
	display: block;
	margin: auto;
	padding: 0.25em 0.2em;
	text-align: center;
	text-decoration: none;
}

.gform-theme.ui-datepicker.ui-datepicker-rtl {
	direction: rtl;
}

.gform-theme.ui-datepicker.ui-datepicker-rtl .ui-datepicker-prev::before {
	transform: translate(50%, -50%) rotate(-90deg);
}

.gform-theme.ui-datepicker.ui-datepicker-rtl .ui-datepicker-next::before {
	transform: translate(50%, -50%) rotate(90deg);
}

.gform-theme.ui-datepicker.ui-datepicker-rtl select.ui-datepicker-month,
.gform-theme.ui-datepicker.ui-datepicker-rtl select.ui-datepicker-year {
	background-position: 0 50%;
}

.chosen-container {
	display: inline-block;
	font-size: 13px;
	position: relative;
	text-align: start;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	vertical-align: middle;
}

.chosen-container * {
	box-sizing: border-box;
}

.chosen-container a {
	cursor: pointer;
}

.chosen-container .chosen-drop {
	background: #fff;
	border: 1px solid #aaa;
	border-block-start: 0;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
	clip: rect(0, 0, 0, 0);
	-webkit-clip-path: inset(100% 100%);
	clip-path: inset(100% 100%);
	inline-size: 100%;
	inset-block-start: 100%;
	position: absolute;
	z-index: 1010;
}

.chosen-container.chosen-with-drop .chosen-drop {
	clip: auto;
	-webkit-clip-path: none;
	clip-path: none;
}

.chosen-container .chosen-single .group-name,
.chosen-container .search-choice .group-name {
	color: #999;
	font-weight: 400;
	margin-inline-end: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.chosen-container .chosen-single .group-name::after,
.chosen-container .search-choice .group-name::after {
	content: ':';
	padding-inline-start: 2px;
	vertical-align: top;
}

.chosen-container-single .chosen-single {
	background: #fff linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
	background-clip: padding-box;
	block-size: 25px;
	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow:
		0 0 3px #fff inset,
		0 1px 1px rgba(0, 0, 0, 0.1);
	color: #444;
	display: block;
	line-height: 24px;
	overflow: hidden;
	padding-block: 0;
	padding-inline: 8px 0;
	position: relative;
	text-decoration: none;
	white-space: nowrap;
}

.chosen-container-single .chosen-single span {
	display: block;
	margin-inline-end: 26px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.chosen-container-single .chosen-single abbr {
	//background: url(../../../images/theme/chosen/chosen-sprite.png) -42px 1px no-repeat;
	block-size: 12px;
	display: block;
	font-size: 1px;
	inline-size: 12px;
	inset-block-start: 6px;
	inset-inline-end: 26px;
	position: absolute;
}

.chosen-container-single .chosen-single abbr:hover {
	background-position: -42px -10px;
}

.chosen-container-single .chosen-single div {
	block-size: 100%;
	display: block;
	inline-size: 18px;
	inset-block-start: 0;
	inset-inline-end: 0;
	position: absolute;
}

.chosen-container-single .chosen-single div b {
	//background: url(../../../images/theme/chosen/chosen-sprite.png) no-repeat 0 2px;
	block-size: 100%;
	display: block;
	inline-size: 100%;
}

.chosen-container-single .chosen-default {
	color: #999;
}

.chosen-container-single .chosen-single-with-deselect span {
	margin-inline-end: 38px;
}

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
	background-position: -42px -10px;
}

.chosen-container-single .chosen-search {
	margin-block: 0;
	margin-inline: 0;
	padding-block: 3px;
	padding-inline: 4px;
	position: relative;
	white-space: nowrap;
	z-index: 1010;
}

.chosen-container-single .chosen-search input[type='text'] {
	//background: url(../../../images/theme/chosen/chosen-sprite.png) no-repeat 100% -20px;
	block-size: auto;
	border: 1px solid #aaa;
	border-radius: 0;
	font-family: sans-serif;
	font-size: 1em;
	inline-size: 100%;
	line-height: normal;
	margin-block: 1px;
	margin-inline: 0;
	outline: 0;
	padding-block: 4px;
	padding-inline: 5px 20px;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
	clip: rect(0, 0, 0, 0);
	-webkit-clip-path: inset(100% 100%);
	clip-path: inset(100% 100%);
	position: absolute;
}

.chosen-container-single .chosen-drop {
	background-clip: padding-box;
	border-end-end-radius: 4px;
	border-end-start-radius: 4px;
	border-start-end-radius: 0;
	border-start-start-radius: 0;
	margin-block-start: -1px;
}

.chosen-container .chosen-results {
	color: #444;
	margin-block: 0 4px;
	margin-inline: 0 4px;
	max-block-size: 240px;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: auto;
	padding-block: 0;
	padding-inline: 4px 0;
	position: relative;
}

.chosen-container .chosen-results li {
	display: none;
	line-height: 15px;
	list-style: none;
	margin-block: 0;
	margin-inline: 0;
	padding-block: 5px;
	padding-inline: 6px;
	-webkit-touch-callout: none;
	word-wrap: break-word;
}

.chosen-container .chosen-results li.active-result {
	cursor: pointer;
	display: list-item;
}

.chosen-container .chosen-results li.disabled-result {
	color: #ccc;
	cursor: default;
	display: list-item;
}

.chosen-container .chosen-results li.highlighted {
	background-color: #3875d7;
	background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
	color: #fff;
}

.chosen-container .chosen-results li.no-results {
	background: #f4f4f4;
	color: #777;
	display: list-item;
}

.chosen-container .chosen-results li.group-result {
	cursor: default;
	display: list-item;
	font-weight: 700;
}

.chosen-container .chosen-results li.group-option {
	padding-inline-start: 15px;
}

.chosen-container .chosen-results li em {
	font-style: normal;
	text-decoration: underline;
}

.chosen-container-multi .chosen-choices {
	background-color: #fff;
	background-image: linear-gradient(#eee 1%, #fff 15%);
	block-size: auto;
	border: 1px solid #aaa;
	cursor: text;
	inline-size: 100%;
	margin-block: 0;
	margin-inline: 0;
	overflow: hidden;
	padding-block: 0;
	padding-inline: 5px;
	position: relative;
}

.chosen-container-multi .chosen-choices li {
	float: left;
	list-style: none;
}

.chosen-container-multi .chosen-choices li.search-field {
	margin-block: 0;
	margin-inline: 0;
	padding-block: 0;
	padding-inline: 0;
	white-space: nowrap;
}

.chosen-container-multi .chosen-choices li.search-field input[type='text'] {
	background: 0 0 !important;
	block-size: 25px;
	border: 0 !important;
	border-radius: 0;
	box-shadow: none;
	color: #999;
	font-family: sans-serif;
	font-size: 100%;
	inline-size: 25px;
	line-height: normal;
	margin-block: 1px;
	margin-inline: 0;
	outline: 0;
	padding-block: 0;
	padding-inline: 0;
}

.chosen-container-multi .chosen-choices li.search-choice {
	background-clip: padding-box;
	background-color: #eee;
	background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
	background-repeat: repeat-x;
	background-size: 100% 19px;
	border: 1px solid #aaa;
	border-radius: 3px;
	box-shadow:
		0 0 2px #fff inset,
		0 1px 0 rgba(0, 0, 0, 0.05);
	color: #333;
	cursor: default;
	line-height: 13px;
	margin-block: 3px;
	margin-inline: 0 5px;
	max-inline-size: 100%;
	padding-block: 3px;
	padding-inline: 5px 20px;
	position: relative;
}

.chosen-container-multi .chosen-choices li.search-choice span {
	word-wrap: break-word;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	///../images/theme/chosen/chosen-sprite.png) -42px 1px no-repeat;
	block-size: 12px;
	display: block;
	font-size: 1px;
	inline-size: 12px;
	inset-block-start: 4px;
	inset-inline-end: 3px;
	position: absolute;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
	background-position: -42px -10px;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
	background-color: #e4e4e4;
	background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
	border: 1px solid #ccc;
	color: #666;
	padding-inline-end: 5px;
}

.chosen-container-multi .chosen-choices li.search-choice-focus {
	background: #d4d4d4;
}

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
	background-position: -42px -10px;
}

.chosen-container-multi .chosen-results {
	margin-block: 0;
	margin-inline: 0;
	padding-block: 0;
	padding-inline: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
	color: #ccc;
	cursor: default;
	display: list-item;
}

.chosen-container-active .chosen-single {
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active.chosen-with-drop .chosen-single {
	background-image: linear-gradient(#eee 20%, #fff 80%);
	border: 1px solid #aaa;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: 0 1px 0 #fff inset;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
	background: 0 0;
	border-inline-start: none;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
	background-position: -18px 2px;
}

.chosen-container-active .chosen-choices {
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active .chosen-choices li.search-field input[type='text'] {
	color: #222;
}

.chosen-disabled {
	cursor: default;
	opacity: 0.5 !important;
}

.chosen-disabled .chosen-single {
	cursor: default;
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
	cursor: default;
}

.chosen-rtl {
	direction: rtl;
}

.chosen-rtl .chosen-choices li {
	float: right;
}

.chosen-rtl.chosen-container-single .chosen-single div b {
	background-position: 6px 2px;
}

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
	background-position: -12px 2px;
}

.chosen-rtl .chosen-search input[type='text'] {
	background-position: -30px -20px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 144dpi),
	only screen and (min-resolution: 1.5dppx) {
	.chosen-container .chosen-results-scroll-down span,
	.chosen-container .chosen-results-scroll-up span,
	.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
	.chosen-container-single .chosen-search input[type='text'],
	.chosen-container-single .chosen-single abbr,
	.chosen-container-single .chosen-single div b,
	.chosen-rtl .chosen-search input[type='text'] {
		//background-image: url(../../../images/theme/chosen/chosen-sprite@2x.png) !important;
		background-repeat: no-repeat !important;
		background-size: 52px 37px !important;
	}
}

.gf_invisible,
.gfield_visibility_hidden {
	inset-inline-start: -9999px;
	position: absolute;
	visibility: hidden;
}

.gf_hide_charleft .charleft {
	display: none !important;
}

.ginput_counter {
	color: #767676;
	font-size: 0.8em;
}

.ginput_counter_tinymce {
	border-block-start: 1px solid #dcdcde;
	font-size: 12px;
	padding-block: 2px;
	padding-inline: 10px;
}

@media (min-width: 640px) {
	.ginput_address_city,
	.ginput_address_country,
	.ginput_address_state,
	.ginput_address_zip {
		inline-size: 50%;
	}
}

.gform_card_icon_container {
	block-size: 32px;
	display: flex;
	margin-block-end: 8px;
}

.gform_card_icon_container .gform_card_icon {
	//background-image: url(../../../images/gf-creditcards.svg);
	background-repeat: no-repeat;
	block-size: 32px;
	inline-size: 40px;
	margin-inline-end: 0.3rem;
	text-indent: -9000px;
}

.gform_card_icon_container .gform_card_icon.gform_card_icon_amex {
	background-position: -167px 0;
}

.gform_card_icon_container .gform_card_icon.gform_card_icon_discover {
	background-position: -221px 0;
}

.gform_card_icon_container .gform_card_icon.gform_card_icon_mastercard {
	background-position: -275px 0;
}

.gform_card_icon_container .gform_card_icon.gform_card_icon_visa {
	background-position: -59px 0;
}

.gform_card_icon_container .gform_card_icon.gform_card_icon_jcb {
	background-position: -329px 0;
}

.gform_card_icon_container .gform_card_icon.gform_card_icon_maestro {
	background-position: -5px 0;
}

.gform_card_icon_container .gform_card_icon.gform_card_icon_selected {
	position: relative;
}

.gform_card_icon_container .gform_card_icon.gform_card_icon_selected::after {
	//background: url(../../../images/gf-creditcards-check.svg) center center no-repeat;
	block-size: 10px;
	content: '';
	display: block;
	inline-size: 13px;
	inset-block-end: 4px;
	inset-inline-end: 0;
	position: absolute;
}

.ginput_cardinfo_left {
	display: flex;
	flex-direction: column;
}

.ginput_cardinfo_left legend {
	float: left;
}

.field_sublabel_below .ginput_cardinfo_left {
	flex-direction: column-reverse;
	justify-content: flex-end;
}

.ginput_cardinfo_right {
	display: inline-flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.ginput_cardinfo_right label {
	inline-size: 100%;
}

.ginput_card_security_code {
	flex: 1;
}

.ginput_card_security_code_icon {
	align-self: center;
	//background-image: url(../../../images/gf-creditcards.svg);
	background-position: -382px center;
	background-repeat: no-repeat;
	block-size: 32px;
	display: block;
	flex: none;
	inline-size: 40px;
	margin-inline-start: 0.3em;
}

@media (min-width: 640px) {
	.ginput_card_expiration_month_container,
	.ginput_card_expiration_year_container,
	.ginput_cardinfo_left,
	.ginput_cardinfo_right {
		inline-size: 50%;
	}

	.ginput_cardinfo_right .ginput_card_security_code {
		flex: none;
		inline-size: 50%;
	}
}

.ginput_complex .ginput_container_date {
	inline-size: var(--gf-field-date-width);
}

.ginput_complex .ginput_container_date label {
	display: block;
}

.gf_hidden,
.gform_hidden {
	display: none;
}

.gform_validation_container {
	display: none !important;
}

.ginput_container_list--columns .gfield_list_group_item::before {
	content: attr(data-label);
}

.gfield_list_header {
	display: none;
}

.gfield_header_item {
	word-break: break-word;
}

.gfield_list_group {
	margin-block-end: var(--gf-field-gap-y);
}

.gform-theme.gfield_list_group:last-child {
	margin-block-end: 0;
}

.gfield_list_group_item + .gfield_list_group_item {
	margin-block-start: 4px;
}

.gfield_list_group_item input,
.gfield_list_group_item select,
.gfield_list_group_item textarea {
	inline-size: 100%;
}

.gfield_header_item--icons,
.gfield_list_icons {
	align-items: center;
	display: flex;
	gap: var(--gf-field-list-btns-gap);
}

.add_list_item,
.delete_list_item {
	font-size: 12px;
	padding: 0;
}

@media (min-width: 640px) {
	.ginput_container_list--columns .gfield_list_group_item::before {
		content: none;
	}

	.gfield_list_group,
	.gfield_list_header {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.gfield_header_item:where(:not(.gfield_header_item--icons)) {
		flex: 1 1 0;
	}

	.gfield_list_group_item {
		flex: 1;
	}

	.gfield_list_group_item + .gfield_list_group_item {
		margin-block-start: 0;
	}

	.gfield_header_item--icons,
	.gfield_list_icons {
		flex: none;
		flex-wrap: wrap;
		inline-size: var(--gf-field-list-btns-width);
		justify-content: center;
	}
}

.gf_page_steps {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gf-field-pg-steps-gap-y) var(--gf-field-pg-steps-gap-x);
}

.gf_step_active {
	font-weight: 500;
}

.gform_show_password {
	inset-block-start: 50%;
	inset-inline-end: 12px;
	position: absolute;
	transform: translateY(-50%);
}

.password_input_container {
	display: block;
	position: relative;
}

.ginput_password {
	display: block;
}

.ginput_password input {
	inline-size: 100%;
}

::-ms-reveal {
	display: none;
}

.gfield--type-captcha iframe {
	block-size: 78px;
	inline-size: 100%;
}

.gfield_post_tags_hint {
	margin: 0;
}

.ginput_complex .ginput_container_time {
	inline-size: var(--gf-field-time-width);
}

.hour_minute_colon {
	display: none;
}

.gf_hide_ampm .gfield_time_ampm {
	display: none !important;
}

@media (min-width: 640px) {
	.gfield.gf_list_2col .gfield_checkbox,
	.gfield.gf_list_2col .gfield_radio {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto-fill, auto);
		grid-column-gap: 2rem;
	}

	.gfield.gf_list_3col .gfield_checkbox,
	.gfield.gf_list_3col .gfield_radio {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(auto-fill, auto);
		grid-column-gap: 2rem;
	}

	.gfield.gf_list_4col .gfield_checkbox,
	.gfield.gf_list_4col .gfield_radio {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(auto-fill, auto);
		grid-column-gap: 2rem;
	}

	.gfield.gf_list_5col .gfield_checkbox,
	.gfield.gf_list_5col .gfield_radio {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(auto-fill, auto);
		grid-column-gap: 2rem;
	}

	.gfield.gf_list_inline .gfield_checkbox,
	.gfield.gf_list_inline .gfield_radio {
		display: block;
	}

	.gfield.gf_list_inline .gfield_checkbox .gchoice,
	.gfield.gf_list_inline .gfield_radio .gchoice {
		display: inline-grid;
		padding-block-end: 12px;
		padding-inline-end: 1rem;
	}

	.gfield.gf_list_inline .gfield_checkbox .gchoice label,
	.gfield.gf_list_inline .gfield_radio .gchoice label {
		max-inline-size: none;
	}

	.gf_list_2col_vertical .ginput_container .gfield_checkbox,
	.gf_list_2col_vertical .ginput_container .gfield_radio {
		-moz-column-count: 2;
		column-count: 2;
		grid-column-gap: 2rem;
		display: block;
	}

	.gf_list_2col_vertical .ginput_container .gfield_checkbox .gchoice,
	.gf_list_2col_vertical .ginput_container .gfield_radio .gchoice {
		display: grid;
		margin-block-end: 12px;
	}

	.gf_list_3col_vertical .gfield_checkbox,
	.gf_list_3col_vertical .gfield_radio {
		-moz-column-count: 3;
		column-count: 3;
		grid-column-gap: 2rem;
		display: block;
	}

	.gf_list_4col_vertical .gfield_checkbox,
	.gf_list_4col_vertical .gfield_radio {
		-moz-column-count: 4;
		column-count: 4;
		grid-column-gap: 2rem;
		display: block;
	}

	.gf_list_5col_vertical .gfield_checkbox,
	.gf_list_5col_vertical .gfield_radio {
		-moz-column-count: 5;
		column-count: 5;
		grid-column-gap: 2rem;
		display: block;
	}

	.gfield.gf_list_height_25 .gfield_checkbox .gchoice,
	.gfield.gf_list_height_25 .gfield_radio .gchoice {
		block-size: 25px;
	}

	.gfield.gf_list_height_50 .gfield_checkbox .gchoice,
	.gfield.gf_list_height_50 .gfield_radio .gchoice {
		block-size: 50px;
	}

	.gfield.gf_list_height_75 .gfield_checkbox .gchoice,
	.gfield.gf_list_height_75 .gfield_radio .gchoice {
		block-size: 75px;
	}

	.gfield.gf_list_height_100 .gfield_checkbox .gchoice,
	.gfield.gf_list_height_100 .gfield_radio .gchoice {
		block-size: 100px;
	}

	.gfield.gf_list_height_125 .gfield_checkbox .gchoice,
	.gfield.gf_list_height_125 .gfield_radio .gchoice {
		block-size: 125px;
	}

	.gfield.gf_list_height_150 .gfield_checkbox .gchoice,
	.gfield.gf_list_height_150 .gfield_radio .gchoice {
		block-size: 150px;
	}
}

.gsection.gf_scroll_text {
	background-color: #fff;
	block-size: 15rem;
	border: 1px solid #ccc;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 2rem;
}

.gsection.gf_scroll_text .gsection_title {
	margin-block-start: 0;
}

.validation_message--hidden-on-empty {
	@apply empty:hidden;
}

.gform-loader {
	align-self: center;
	animation: gformLoader 1.1s infinite linear;
	block-size: 10em;
	border-block-end: 1.1em solid #000;
	border-block-start: 1.1em solid #fff;
	border-inline-end: 1.1em solid #fff;
	border-inline-start: 1.1em solid #000;
	border-radius: 50%;
	display: inline-block;
	font-size: 2px;
	inline-size: 10em;
	position: relative;
	transform: translateZ(0);
}

@keyframes gformLoader {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}
