* {
	min-width: 0;
	outline: none;
}

html {
	@apply font-body;

	scroll-behavior: smooth;
	padding: 0 !important;
	&.lenis-stopped {
		overflow: hidden !important;
	}
}

body {
	-moz-osx-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	overscroll-behavior: contain;
}

input,
select {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.no_scroll {
	overflow: hidden;
}
