.jw-content-tiles {
	&__tile-icon-container {
		@apply flex;
	}

	&__tile-content-container {
		@apply z-40 flex h-full flex-col justify-between gap-spacing-150;
	}

	&__tile-content {
		@apply flex flex-col gap-spacing-150 pt-9 md:pt-0;
	}

	&__tiles-container {
		@apply grid gap-spacing-300 md:grid-cols-2 lg:grid-cols-3;
	}

	&__tile {
		@apply rounded-card relative z-5 flex min-h-64 flex-col justify-between overflow-hidden bg-transparent p-spacing-300 md:h-130 md:px-spacing-400 md:py-spacing-500;

		&:after {
			content: '';
			background: linear-gradient(180deg, rgba(245, 242, 233, 0) 0%, #f5f2e9 49.21%);
			will-change: transform, opacity;
			@apply absolute bottom-0 left-0 z-40 hidden h-16 w-full translate-y-0 transition-all duration-500 ease-in-out lg:block;
		}

		&.no-gradient:after {
			@apply hidden;
		}

		.jw-contained-icon {
			@apply transition-colors duration-500;
		}

		.jw-contained-icon__icon {
			@apply transition-colors duration-500;
		}

		&.is-triggered {
			.jw-content-tiles__tile-cta .inactive {
				@apply absolute hidden #{!important};
			}

			.jw-content-tiles__tile-cta .active {
				@apply relative inline-flex translate-y-0 text-white;

				.cta-text-link {
					@apply opacity-100 #{!important};
				}
			}

			.jw-contained-icon {
				@apply bg-theme-surface-accent;
			}

			.jw-content-tiles__tile-image-gradient {
				@apply opacity-100;
			}

			.jw-contained-icon__icon {
				@apply text-white;
			}

			.jw-content-tiles__tile-image-container {
				@apply translate-y-0 scale-100;
			}

			.jw-content-tiles__background {
				@apply opacity-0;
			}

			.jw-content-tiles__tile-description,
			.jw-content-tiles__tile-heading {
				@apply text-white;
			}
		}

		&.is-active {
			.jw-contained-icon {
				@apply bg-theme-surface-accent;
			}

			.jw-contained-icon__icon {
				@apply text-white;
			}

			.jw-content-tiles__tile-image-container {
				@apply translate-y-0 scale-100;
			}

			.jw-content-tiles__background {
				@apply opacity-0;
			}

			.jw-content-tiles__tile-description,
			.jw-content-tiles__tile-heading {
				@apply text-white;
			}

			.jw-content-tiles__tile-cta .inactive {
				@apply absolute hidden #{!important};
			}

			.jw-content-tiles__tile-cta .active {
				@apply relative inline-flex translate-y-0 text-white;

				.cta-text-link {
					@apply opacity-100 #{!important};
				}
			}

			.jw-content-tiles__tile-description-container {
				@apply max-h-full;
			}
		}

		@screen lg {
			&:hover {
				&:after {
					@apply translate-y-10 opacity-0;
				}

				.jw-contained-icon {
					@apply bg-theme-surface-accent;
				}

				.jw-content-tiles__tile-image-gradient {
					@apply opacity-100;
				}

				.jw-contained-icon__icon {
					@apply text-white;
				}

				.jw-content-tiles__tile-image-container {
					@apply translate-y-0 scale-100;
				}

				.jw-content-tiles__background {
					@apply opacity-0;
				}

				.jw-content-tiles__tile-description,
				.jw-content-tiles__tile-heading {
					@apply text-white;
				}

				[data-content-tile-content] {
					transform: translateY(0) !important;
				}
			}
		}
	}

	[data-content-tile-content] {
		transition-timing-function: ease-in-out;
		transition-property: transform;
		transition-duration: 400ms;
	}

	&__tile-description-container {
		@apply h-13 overflow-hidden lg:h-auto lg:max-h-none;
	}

	&__tile-image-container {
		@apply rounded-card absolute inset-0 z-10 translate-y-0 scale-105 transition-transform duration-500;
	}

	&__tile-image-gradient {
		@apply rounded-card absolute inset-0 z-20 bg-orange-950/90;
	}

	&__tile-cta {
		@apply lg:hidden;
	}

	&__tile-cta .active {
		@apply absolute hidden translate-y-10;
	}

	&__background-image {
		@apply absolute inset-0 z-0 bg-theme-border-tertiary;
	}

	&__background {
		@apply absolute inset-0 z-20 bg-theme-surface-tertiary opacity-100 transition-opacity duration-500;
	}

	&__tile-description,
	&__tile-heading {
		@apply transition-colors duration-500;
	}
}
